<!DOCTYPE html>
<html lang="en">

<head>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
</head>

<body class="front">

  <h1>Flight of the Mongoose</h1>
  <p>Welcome to Mongoose Airlines</p>
  
  <a href="/flights">See all flights</a>

</body>

</html>