<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <body>
        <h1>Current Flights</h1>
        <ul>
            <% console.log(flights); %>
            <% flights.forEach(function(t) { %>
            <li>
                <a href="/flights/<%= t.id %>"> <%= t.flight %> </a>
                <form action="/flights/<%= t.id %>?_method=DELETE" method="POST" class="remove">
                    <button type="submit">X</button>
                </form>
                -
                <%= t.done ? 'done' : 'not done' %>
            </li>
    
            <%});%>
        </ul>
        <a href='/flights'>Add a flight</a>
    </body>
</body>
</html>